body {
    background-color: rgb(25, 30, 43);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: crimson;
}
output{
    background-color: white;
    
}

p {
    color: crimson;
}
form { 
    color: crimson;
    transform-style: preserve-3d;
}

header {
    background-color: black;
}
 i {
    color: firebrick;
 }
 footer {
    background-color: black;
 }
 button:hover {
color: whitesmoke;
background-color: crimson;
 }